# dont commit the actual api keys or other personal info to the public github
configs/keys.ini
venv
.idea
.aider*
.env
out/
__pycache__/
*.pyc
.ruff_cache/
*.egg-info/
keys.ini
# pixi environments
.pixi
*.egg-info
